.container {
  width: 100%;
  border: 1px solid #000000;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-github-dark-primary);
  color: var(--text-color-white);
  font-size: 12px;
}
