html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

:root {
  --text-color-white: #efefef;

  --bottombar-font-size: 12px;

  --background-color-github-dark-primary: #1f2428;
  --background-color-github-dark-secondary: #24292e;
  --background-color-github-dark-third: #24292e;
  --background-color-hover: #4f4f52;

  --bottombar-bg: #24292e;
  --bottombar-border: #1b1f23;

  --dot-header-color-primary: #f1fa8c;
  --dot-header-color-secondary: #50fa7b;
  --dot-header-color-third: #f95556;
}
