html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

:root {
  --text-color-white: #fefefe;

  --background-color-github-dark-primary: #1f2428;
  --background-color-github-dark-secondary: #24292e;

  --dot-header-color-primary: #f1fa8c;
  --dot-header-color-secondary: #50fa7b;
  --dot-header-color-third: #f95556;
}
