html,
body,
* {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --text-color-white: #efefef;
  --font-family: Source Sans Pro, sans-serif;

  --bottombar-font-size: 13px;

  --background-color-github-dark-primary: #1f2428;
  --background-color-github-dark-secondary: #24292e;
  --background-color-github-dark-third: #24292e;
  --background-color-hover: #7d7e81;

  --bottombar-bg: #24292e;
  --bottombar-border: #1b1f23;

  --sidebar-bg: #24292e;
  --sidebar-border: #1b1f23;
  --sidebar-item-active: #f9826c;

  --dot-header-color-primary: #f1fa8c;
  --dot-header-color-secondary: #50fa7b;
  --dot-header-color-third: #f95556;

  --background-content-orange: #f9816c;
  --background-content-transparent: transparent;

  --button-text-size: 18px;
}
