.container {
  height: 25px;
  border: 1px solid var(--bottombar-border);
  background-color: var(--bottombar-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color-white);
  padding: 0 0.5rem;
}
