.container {
  display: flex;
  flex-direction: row;
  font-size: var(--bottombar-font-size);
  margin: 0 15px 0 15px;
  padding: 0 4px 0 4px;
  cursor: pointer;
}

.container:hover {
  background-color: var(--background-color-hover);
}

.checkicon {
  margin-top: 12px;
  margin-right: 5px;
}
