.container {
  width: 15vw;
  display: flex;
  flex-direction: column;
  color: var(--text-color-white);
  background-color: var(--background-color-github-dark-primary);
}
.explorer {
  display: flex;
  align-items: flex-end;
  padding: 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
